*.lo
*.loT
*.o
*.la
Makefile
Makefile.in
.deps
.libs
*~
*#
.#*
*.stamp

gst/fsrtpconference/fs-rtp-marshal.[ch]

transmitters/rawudp/fs-rawudp-marshal.[ch]

gst-libs/gst/farsight/fs-marshal.[ch]
gst-libs/gst/farsight/fs-enum-types.[ch]

gst-libs/ext/fsupnp/fs-upnp-simple-igd-marshal.[ch]

docs/libs/farsight2-libs-decl-list.txt
docs/libs/farsight2-libs-decl-list.txt.bak
docs/libs/farsight2-libs-decl.txt
docs/libs/farsight2-libs-decl.txt.bak
docs/libs/farsight2-libs-undocumented.txt
docs/libs/farsight2-libs-unused.txt
docs/libs/farsight2-libs.args
docs/libs/farsight2-libs.hierarchy
docs/libs/farsight2-libs.interfaces
docs/libs/farsight2-libs.prerequisites
docs/libs/farsight2-libs.signals
docs/version.entities
docs/libs/html
docs/libs/tmpl
docs/libs/xml
docs/diagrams/*.png

python/pyfarsight.c
python/*.pyo
python/*.pyc

tests/check/test-registry.xml
tests/check/*/.dirstamp
tests/check/base/fscodec
tests/check/base/fstransmitter
tests/check/transmitter/rawudp
tests/check/transmitter/multicast
tests/check/rtp/conference
tests/check/rtp/codecs
tests/check/rtp/sendcodecs
tests/check/utils/binadded
tests/rtp/codec-discovery
tests/commandline/simple-call
tests/upnp/test
tests/upnp/test-thread
tests/gui/*.pyo
tests/gui/*.pyc

aclocal.m4
autom4te.cache
autoregen.sh
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
compile
depcomp
diff
install-sh
libtool
ltmain.sh
missing
stamp-h.in
stamp-h1

farsight2-0.10.pc
farsight2.pc
