*.lo
*.loT
*.o
*.la
Makefile
Makefile.in
.deps
.libs
*~
*#
.#*
*.stamp
*.gcno
*.gcda
*.typelib
*.gir

gst/fsrtpconference/fs-rtp-marshal.[ch]
gst/fsrtpconference/fs-rtp-marshal.list
gst/*/*.doc.c

transmitters/rawudp/fs-rawudp-marshal.[ch]
transmitters/rawudp/fs-rawudp-marshal.list

farstream/fs-marshal.[ch]
farstream/fs-marshal.list
farstream/fs-enum-types.h
farstream/fs-enumtypes.[ch]

docs/libs/farstream-libs-decl-list.txt
docs/libs/farstream-libs-decl-list.txt.bak
docs/libs/farstream-libs-decl.txt
docs/libs/farstream-libs-decl.txt.bak
docs/libs/farstream-libs-undocumented.txt
docs/libs/farstream-libs-unused.txt
docs/libs/farstream-libs.args
docs/libs/farstream-libs.hierarchy
docs/libs/farstream-libs.interfaces
docs/libs/farstream-libs.prerequisites
docs/libs/farstream-libs.signals
docs/libs/farstream-libs-undeclared.txt
docs/libs/html
docs/libs/tmpl
docs/libs/xml
docs/libs/doc-registry.xml
docs/plugins/farstream-plugins-decl-list.txt
docs/plugins/farstream-plugins-decl.txt
docs/plugins/farstream-plugins-undeclared.txt
docs/plugins/farstream-plugins-undocumented.txt
docs/plugins/farstream-plugins-unused.txt
docs/plugins/farstream-plugins.args
docs/plugins/farstream-plugins.args.new
docs/plugins/farstream-plugins.hierarchy
docs/plugins/farstream-plugins.interfaces
docs/plugins/farstream-plugins.prerequisites
docs/plugins/farstream-plugins.signals
docs/plugins/farstream-plugins.signals.new
docs/plugins/farstream-transmitters.types
docs/plugins/html/
docs/plugins/inspect-registry.xml
docs/plugins/inspect/
docs/plugins/script
docs/plugins/tmpl/
docs/plugins/xml/
docs/diagrams/*.png
docs/version.entities

python/pyfarstream.c
python/*.pyo
python/*.pyc

tests/check/test-registry.xml
tests/check/cache
tests/check/*/.dirstamp
tests/check/base/fscodec
tests/check/base/fstransmitter
tests/check/transmitter/rawudp
tests/check/transmitter/multicast
tests/check/transmitter/nice
tests/check/transmitter/shm
tests/check/raw/conference
tests/check/rtp/conference
tests/check/rtp/codecs
tests/check/rtp/sendcodecs
tests/check/rtp/recvcodecs
tests/check/msn/conference
tests/check/utils/binadded
tests/check/elements/rtcpfilter
tests/check/elements/funnel
tests/rtp/codec-discovery
examples/commandline/simple-call
examples/commandline/simple-call-shm
examples/gui/*.pyo
examples/gui/*.pyc

aclocal.m4
autom4te.cache
autoregen.sh
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
compile
depcomp
diff
install-sh
libtool
ltmain.sh
missing
stamp-h.in
stamp-h1

farstream-0.10.pc
farstream.pc

