*.lo
*.loT
*.o
*.la
Makefile
Makefile.in
.deps
.libs
*~
*#
.#*
*.stamp
*.gcno
*.gcda

gst/fsrtpconference/fs-rtp-marshal.[ch]
gst/fsrtpconference/fs-rtp-marshal.list
gst/*/*.doc.c

transmitters/rawudp/fs-rawudp-marshal.[ch]
transmitters/rawudp/fs-rawudp-marshal.list

gst-libs/gst/farsight/fs-marshal.[ch]
gst-libs/gst/farsight/fs-marshal.list
gst-libs/gst/farsight/fs-enum-types.[ch]

docs/libs/farsight2-libs-decl-list.txt
docs/libs/farsight2-libs-decl-list.txt.bak
docs/libs/farsight2-libs-decl.txt
docs/libs/farsight2-libs-decl.txt.bak
docs/libs/farsight2-libs-undocumented.txt
docs/libs/farsight2-libs-unused.txt
docs/libs/farsight2-libs.args
docs/libs/farsight2-libs.hierarchy
docs/libs/farsight2-libs.interfaces
docs/libs/farsight2-libs.prerequisites
docs/libs/farsight2-libs.signals
docs/libs/farsight2-libs-undeclared.txt
docs/libs/html
docs/libs/tmpl
docs/libs/xml
docs/libs/doc-registry.xml
docs/plugins/farsight2-plugins-decl-list.txt
docs/plugins/farsight2-plugins-decl.txt
docs/plugins/farsight2-plugins-overrides.txt
docs/plugins/farsight2-plugins-undeclared.txt
docs/plugins/farsight2-plugins-undocumented.txt
docs/plugins/farsight2-plugins-unused.txt
docs/plugins/farsight2-plugins.args
docs/plugins/farsight2-plugins.args.new
docs/plugins/farsight2-plugins.hierarchy
docs/plugins/farsight2-plugins.interfaces
docs/plugins/farsight2-plugins.prerequisites
docs/plugins/farsight2-plugins.signals
docs/plugins/farsight2-plugins.signals.new
docs/plugins/farsight2-transmitters.types
docs/plugins/html/
docs/plugins/inspect-registry.xml
docs/plugins/inspect/
docs/plugins/script
docs/plugins/tmpl/
docs/plugins/xml/
docs/diagrams/*.png
docs/version.entities

python/pyfarsight.c
python/*.pyo
python/*.pyc

tests/check/test-registry.xml
tests/check/cache
tests/check/*/.dirstamp
tests/check/base/fscodec
tests/check/base/fstransmitter
tests/check/transmitter/rawudp
tests/check/transmitter/multicast
tests/check/transmitter/nice
tests/check/rtp/conference
tests/check/rtp/codecs
tests/check/rtp/sendcodecs
tests/check/msn/conference
tests/check/utils/binadded
tests/check/elements/rtcpfilter
tests/rtp/codec-discovery
examples/commandline/simple-call
examples/gui/*.pyo
examples/gui/*.pyc

aclocal.m4
autom4te.cache
autoregen.sh
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
compile
depcomp
diff
install-sh
libtool
ltmain.sh
missing
stamp-h.in
stamp-h1

farsight2-0.10.pc
farsight2.pc
farsight2-upnp.pc


